acceso_aleratorio.exe
archivos1.exe
archivos2.exe
cin_y_cin-get.exe
clientes.txt
contactos.dat
cout-setw.exe
cout-setw2.exe
cout-width.exe
dec_oct_hex_y_setbase.exe
dec_oct_hex_y_setbase2.exe
eof_get_y_put.exe
read_y_write.exe
scientific_y_fixed.exe
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
Asignacion 3/Operaciones.exe
cin-getline.exe